body{
  font-family: sans-serif;
  background: #2272b7;
  color: #cad1d9;
  padding: 30px;
}
.wrap{max-width: 400px; margin: 0 auto;}
form{display:flex; gap:10px; margin-bottom:26px;}
input{flex:1; padding:8px; border-radius:6px; border:none;}
button{padding:8px 14px; border:none; border-radius:6px; background:#c9ced1; cursor:pointer;}
li{
  display:flex; justify-content:space-between;
  background:#222; padding:8px 12px; margin-bottom:6px; border-radius:6px;
}
li button{background:#e4e0e0; color:rgb(38, 59, 213); padding:4px 8px; font-size:.8rem;}